appdirs==1.4.3
attrs==19.3.0
cached-property==1.5.1
certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
deprecation==2.0.7
idna==2.8
isodate==0.6.0
lxml==4.6.2
packaging==19.2
pyparsing==2.4.5
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
six==1.13.0
urllib3==1.25.8
